@use "./base/reset";
@use "./util/variables" as v;

// Globals

// Typography

h1 {
  font-size: v.$h1-mobile-font;
}

li {
  font-size: v.$li-mobile-font;
}

hr {
  width: min(100%);
  height: 1px;
  border: none;
  background-color: v.$lightGray;
}

// TODO: Font needs to be made variable
* {
  font-family: sans-serif;
}

.width {
  width: min(100% - 3rem, 737px);
  margin-inline: auto;
}

.main {
  padding-top: 1.5rem;
}

.bottom-line {
  margin-bottom: 1.5rem;
}

.loading {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-items: center;
}

.bounce {
  animation: bounce 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}

// Search Box

.search {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: v.$input;
  margin-bottom: 1.5rem;

  &__input {
    padding-left: 1.5rem;
    min-height: 48px;
    width: 100%;
    border: none;
    background-color: transparent;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    padding-right: 1.5rem;
  }
}

// Header

.header {
  min-height: 32px;
  margin-bottom: 1.5rem;
}

// Word

.word {
  &__phonetic {
    display: inline-block;
    color: v.$purple;
    font-size: v.$body-m-font;
    line-height: v.$body-m-line;
    margin-bottom: 2rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    button {
      border: none;
      background: transparent;
      cursor: pointer;

      &:disabled {
        img {
          filter: grayscale(100%);
        }
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__speech {
    margin-right: 1rem;
    font-style: italic;
  }

  &__meaning {
    color: v.$darkGray;
    font-weight: normal;
    font-size: 1rem;
  }

  &__list {
    padding: 0;
    padding-left: 16px;
  }

  &__definition {
    color: v.$purple;
    padding-left: 0.25rem;
    margin-bottom: 0.8125rem;

    span {
      color: v.$lightBlack;
    }
  }

  &__synonyms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    h3 {
      margin-right: 1.5rem;
    }
  }

  &__synonym {
    margin-right: 0.5rem;
    color: v.$purple;
    font-weight: bold;
  }
}

// Source

.source {
  margin-bottom: 5.3125rem;

  &__heading {
    text-decoration: underline;
    color: v.$darkGray;
    font-size: v.$body-s-font;
    line-height: v.$body-s-line;
    margin-bottom: 0.5rem;
  }

  &__link {
    color: v.$lightBlack;

    img {
      margin-left: 0.5rem;
      display: inline-block;
    }
  }
}

// ERROR

.error {
  text-align: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  h1 {
    font-size: 1.25rem;
  }

  p {
    color: v.$darkGray;
  }

  pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
}
