// COLORS

$input: #f4f4f4;
$purple: #a445ed;
$lightGray: #e9e9e9;
$darkGray: #757575;

$lightBlack: #2d2d2d;

// Typography

$h1-mobile-font: 2rem;
$h1-tablet-font: 4rem;

$heading-m-font: 1.5rem;

$body-m-font: 18px;
$body-m-line: 24px;

$body-s-font: 14px;
$body-s-line: 17px;

$li-mobile-font: 15px;
