@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #ffffff;
  --dark: #757575;
  --purple: #a445ed;
}

.sans {
  font-family: sans-serif;
}

.serif {
  font-family: serif;
}

.mono {
  font-family: monospace;
}

label {
  background-color: var(--dark);
}

input:checked ~ .slider {
  background-color: var(--purple);
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--light);
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(18px);
  background-color: var(--light);
  box-shadow: none;
}
